{% load bootstrap4 %}
<nav>
    <a class="btn btn-outline-info" href="{% url 'bboard:index' %}" role="button">Главная</a>
    <br>
    {% if perms.bboard.add_bb %}
        <a class="btn btn-outline-info" href="{% url 'bboard:add' %}" role="button">Добавить</a>
        <br>
        <a class="btn btn-outline-info" href="{% url 'bboard:add_rubric' %}" role="button">Добавить рубрику</a>
        <br>

    {% else %}
        <a class="btn btn-outline-info" href="{% url 'bboard:login' %}" role="button">Войти</a>
        <br>
    {% endif %}

    {% for rubric in rubrics %}
        {%  with bb_count=rubric.cnt %}
<!--            <a class="btn btn-outline-info" href="{{ rubric.get_absolute_url }}" role="button">{{ rubric }}({{ rubric.cnt }})</a>-->
            <a class="btn btn-outline-info" href="{{ rubric.get_absolute_url }}" role="button">
                {% filter upper %}
                {{ rubric.name }}
                {% endfilter %}
                ({{ bb_count }})</a>
            <br>
        {% endwith%}
    {% endfor %}
</nav>

