*(end<nav>
    <a href="{% url 'bboard:index' %}">Главная</a>
{##    {% if 'bboard.add_bb' in perms %}#}
    {% if perms.bboard.add_bb %}
        <a href="{% url 'bboard:add' %}">Добавить</a>
        <a href="{% url 'bboard:add_rubric' %}">Добавить рубрику</a>
    {% else %}
        <a href="{% url 'bboard:login' %}" class="text-danger">Войти</a>
    {% endif %}

    {% for rubric in rubrics %}
        {%  with bb_count=rubric.cnt %}
{#            {% spaceless %}#}
<!--        <a href="{#% url 'bboard:by_rubric' rubric.pk %#}">{{ rubric.name }}</a>-->
{#          <a href="{{ rubric.get_absolute_url }}">{{ rubric }}({{ rubric.cnt }})</a>#}
            <a href="{{ rubric.get_absolute_url }}">
{#              {% filter force_escape|upper %}#}
                {% filter upper %}
                {{ rubric.name }}
                {% endfilter %}
                ({{ bb_count }})</a>
{#            {% endspaceless %}#}
        {% endwith%}
    {% endfor %}
</nav>