<nav>
    <a href="{% url 'bboard:index' %}">Главная</a>
    <a href="{% url 'bboard:add' %}">Добавить</a>
    <a href="{% url 'bboard:add_rubric' %}">Добавить рубрику</a>
    <a href="{% url 'todolist:task_list' %}">Список задач</a>
    <a href="{% url 'todolist:create_task' %}">Создать задачу</a>

    {% for rubric in rubrics %}
        {%  with bb_count=rubric.cnt %}
{#            {% spaceless %}#}
<!--        <a href="{#% url 'bboard:by_rubric' rubric.pk %#}">{{ rubric.name }}</a>-->
{#          <a href="{{ rubric.get_absolute_url }}">{{ rubric }}({{ rubric.cnt }})</a>#}
            <a href="{{ rubric.get_absolute_url }}">
{#              {% filter force_escape|upper %}#}
                {% filter upper %}
                {{ rubric.name }}
                {% endfilter %}
                ({{ bb_count }})</a>
{#            {% endspaceless %}#}
        {% endwith%}
    {% endfor %}
</nav>