header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: url("bg.jpg") left / auto 100% no-repeat;
}

nav {
    font-size: 16pt;
    width: 200px;
    float: left;

}

nav a {
    display: block;
    margin: 10px 0;
}

section {
    margin-left: 220px;
}

section::after {
    display: block;
    content: '';
    clear: both;
}

.b1 {
    background-color: gray;
}

.b2 {
    background-color: darkseagreen;
}

.b3 {
    background-color: lightblue;
}
