{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}Добавление объявления{% endblock %}

{% block content %}
    
    {% bootstrap_messages %}
    {% bootstrap_alert content="Correct it-danger!" alert_type="danger" %}
    {% bootstrap_alert content="Correct it-warning!" alert_type="warning" %}

<h2>Добавление объявления</h2>
    
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        
{#    {% bootstrap_form form exclude='price,rubric'%}#}
    {% bootstrap_form form layout="inline" field_class="col-md-7" size="small" %}
{#    {% bootstrap_form form layout="inline" field_class="col-md-7" size="small" required_css_class="has-error" %}#}
{#    {% bootstrap_form form %}#}
{#        {% bootstrap_field form.title placeholder="Placeholder" addon_before='Какой-то текст' addon_before_class='input-group-text' %}#}
{#        {% bootstrap_field form.title placeholder="Placeholder" addon_after='Какой-то текст' %}#}
        
        
        
{#    {% buttons submit='Добавить' %}{% endbuttons %}#}
    {% bootstrap_button content="Добавить" button_type="submit" button_class="btn-primary" %}
    </form>

{% endblock %}