{% extends "layout/basic.html" %}

{% block title %}Добавление объявления{% endblock %}

{% block content %}

<h2>Добавление объявления</h2>
    
{% if form.is_multipart %}
    <form method="post" enctype="multipart/form-data">
{% else %}
    <form method="post">
{% endif %}        
    {% csrf_token %}
{#    {{ form.as_p }}#}
{#    <ul>#}
{#        {{ form.as_ul }}#}
{#    </ul>#}
    <table>
{#        {{ form.as_table }}#}
        {{ form }}
    </table>
{#    <input type="submit" value="Добавить">#}
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}