{% extends "layout/basic.html" %}
{% load bbcode_tags %}
{% load filtertags %}

{% block content %}
    
{#    {% lst ', ' '1' '2' '3' '4' '5' %}#}
    
    {% ulist '1' '2' '3' '4' '5' %}
    
{% for bb in bbs %}
<div>
    <h2>
        {% url 'bboard:detail' pk=bb.pk as detail_url %}
        <a href="{{ detail_url }}">
{#        {{ forloop.counter0|add:page.start_index }} - {{ bb.title_and_price }}#}
        {{ forloop.counter0|add:page_obj.start_index }} - {{ bb.title_and_price }}
            {% if forloop.first == True %}
                Первое Объявление
            {% elif forloop.last == True %} 
                Последнее Объявление
            {% endif %}</a>
    </h2>
    <p>{{ bb.content|truncatewords_html:2 }}</p>
{#    <p>{{ bb.content|bbcode|safe }}</p>#}

    <p>{{ bb.content|half_string }}</p>

{#    {% split_string  ', ' as result_array %}#}
{#    {% for item in result_array %}#}
{#        {{ item }}#}
{#    {% endfor %}    #}
    


    {% autoescape on %}
    <p>Цена: {{ bb.price|cur }}</p>
    <p><strong>Цена:</strong> {{ bb.price|cur:'$' }}</p>
    {% endautoescape %}

    {% ifchanged bb.rubric.name %}
    <p>
        <a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a>
    </p>
    {% endifchanged %}

    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
</div>
{% empty %}
    <p>Обявлений нет!</p>
{% endfor %}

{#{% include 'includes/inc_paginator.html' %}#}
{% include 'includes/inc_paginator_cbv.html' %}
    
{% endblock %}