{% extends "layout/base_task.html" %}

{% block title %}Task List{% endblock %}

{% block main %}
    <h2>Task List</h2>
    <ul>
        {% for task in tasks %}
        <li>
            {% if task.completed %}
                {{ task.title|upper }} (Completed)
            {% else %}
                <strong>{{ task.title|make_list }}</strong> (Not Completed)
                {% now 'SHORT_DATETIME_FORMAT' %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'todolist:create_task' %}">Create Task</a>
{% endblock %}