{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<header>
  <h1>Сайт для практики :)</h1>
</header>

{% include 'includes/inc_main_menu.html' %}

<section>
  {% block content %}
      <p>Content from basic.html</p>
  {% endblock %}
</section>

<div class=""></div>
<footer class="text-center">&copy; 1988 &ndash; {% now 'Y' %}</footer>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>