{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>

{#    {% static 'style.css' as css_url %}#}
{#    <link rel="stylesheet" href="{{ css_url }}">#}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    
{#    <link rel="stylesheet" href="{% get_static_prefix %}style.css">#}

{#    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">#}

</head>
<body>

<header>
  <h1>Объявления</h1>
</header>

{% include 'includes/inc_main_menu.html' %}

<section>
  {% block content %}
      <p>Content from basic.html</p>
  {% endblock %}
</section>

<footer>&copy; 1988 &ndash; {% now 'Y' %}</footer>

</body>
</html>